<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @genre.name %>
</p>

<p>
	<% if !@genre.movies.empty? %>
		<b>Movies for this genre</b><br>
	<%= @genres.movies.each do |%| %>
	<%= link_to m.title, m %>
	<%= image_tag(m.poster, size: '50x50') %><br\>
	<%end%>
	<%else%>
		<b>There are no movies for this genre</b>
	<%end%>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
